<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">

<body>
    <h1>Registro fotográfico.</h1>
    <p>Este es un pequeño registro fotográfico, apenas una selección de muchas de mis fotos.</p>
    <p>Todas fueron tomadas "inprofesionalmente", a veces hasta accidentadamente entre los años 2018 y 2025.</p>
    <p>Reveladas con esa misma filosofía amateur y poco prolija por mi.</p>
    <p>Espero que te gusten. ♥</p>
</body>

<style>
body {                                  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/2025-09-01-11-29-35.gif);
  font-family: "Doto";
  font-style: italic;

}

h1 {
    color: rgb(218, 218, 218);
  font-size: 2rem;  
}

p {
  color: rgb(218, 218, 218);
  font-size: 1rem;  
}

</style>
