---
import Layout from '../layouts/Layout.astro';
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">

<Layout>
<body>
    <h1>Julian Nabih Schamun.</h1>
    <p>Estudiante de Licenciatura en Artes Electrónicas en UNTREF. Operador, editor y creador de podcasts en Ciudad UNM Radio (Universidad Nacional de Moreno).</p>
    <p>También participo en algunos proyectos musicales: guitarra y voz en <a href="https://linktr.ee/vicentecolombo">Vicente Colombo</a>,</p>
    <p>Guitarra, voz y mezcla en <a href="https://www.instagram.com/todoparaabajo/">Todo Para Abajo</a>,</p>
    <p>Y produzco mi propio proyecto de ambient y música electrónica <a href="https://linktr.ee/nabihjs">nabih~</a>.</p>
    <p>Este es un pequeño registro fotográfico, apenas una selección de muchas de mis fotos en 35mm.</p>
    <p>Algunas terminaron siendo tapas de singles o álbumes de bandas y proyectos amigos.</p>
    <p>Otras fueron parte de simples sesiones, o solo para mi archivo personal.</p>
    <p>Todas fueron tomadas "inprofesionalmente", a veces hasta accidentadamente entre los años 2018 y 2025.</p>
    <p>Reveladas con esa misma filosofía amateur y poco prolija por mi.</p>
    <p>Espero que te gusten. ♥</p>
  <div class="botones">
    <nav class="menu">
      <a href="index.html">
        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M1 12h9V8h1V6h-1v1H1V6H0v2h1Zm0-6h1V5H1Zm1 5V8h7v3H7V9H4v2Zm3 0v-1h1v1ZM2 5h1V4H2Zm7 1h1V1H7v2H3v1h5V2h1v2H8v1h1Zm0 0"/></svg>
      </a>
      <a href="vivos.html">
        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><path fill="currentColor" d="M5 11h3v-1h1V4h1V3H9V1H8v7H6v1h1v1H6V9H5Zm-5 1h3v-1h1V5h1V4H4V2H3v7H1v1h1v1H1v-1H0Zm5-5h1V5H5Zm5-1h1V4h-1Zm0 0"/></svg>  
      </a>
      <a href="abstractos.html">
        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><path fill="currentColor" d="M8 7H7v2H6v1h1v1h1Zm0 0h1V6h1V5H7V4H6v2h2Zm-8 5h1v-1H0Zm1-1h1v-1H1Zm2 0h1v-1h1V9H4V7H3Zm2-2h1V8H5ZM2 7h1V6h2V4H4v1H1v1h1ZM1 4h1V3H1ZM0 3h1V2H0Zm10 9h1v-1h-1Zm-1-1h1v-1H9ZM5 4h1V2H5Zm4 0h1V3H9Zm1-1h1V2h-1Zm0 0"/></svg>  
      </a>
      <a href="calles.html">
        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M0 12h11v-1H9v-1h1V9H8V8h1V2H8v3H3V2H2v6h1v1H1v1h1v1H0Zm3-1v-1h5v1Zm1-2V8h3v1ZM3 7V6h1v1Zm4 0V6h1v1ZM5 3h1V2h2V1H3v1h2Zm0 0"/></svg>
    </nav>
  </div>
</body>

<style>
body {                                  
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: url(/2025-09-01-11-29-35.gif);
  font-family: "Doto";
  font-style: italic;
}

h1 {
  color: rgb(218, 218, 218);
  font-size: 2rem;  
  text-transform: lowercase;
}

p {
  color: rgb(218, 218, 218);
  font-size: 1rem;  
  text-transform: lowercase;
}

a {
  color: white;
}

.botones {
  width: 100%;      
  padding: 5px 2;
}

.menu {
  display: flex;
  justify-content: center; 
  gap: 2rem;           
}

.menu a {
  color: rgb(255, 255, 255);
  font-style: italic;    
  opacity: 60%;
  text-decoration: none;
  font-size: 5rem;
  font-weight: 300;
  transition: 0.2s;
}

.botones a:hover {
  color: rgb(84, 46, 121); 
  opacity: 100%;
}

.flota {
  display: inline-block;         
  text-decoration: none;
  animation: float 2s ease-in-out infinite; 
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-1rem);
  }
}
</style>
</Layout>