---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<body>
  <h1>Registro fotográfico de Julian Nabih Schamun</h1>
  <div class="tooltip">
  <a href="/abstractos/"> 
  <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><path fill="currentColor" d="M8 7H7v2H6v1h1v1h1Zm0 0h1V6h1V5H7V4H6v2h2Zm-8 5h1v-1H0Zm1-1h1v-1H1Zm2 0h1v-1h1V9H4V7H3Zm2-2h1V8H5ZM2 7h1V6h2V4H4v1H1v1h1ZM1 4h1V3H1ZM0 3h1V2H0Zm10 9h1v-1h-1Zm-1-1h1v-1H9ZM5 4h1V2H5Zm4 0h1V3H9Zm1-1h1V2h-1Zm0 0"/></svg>  
  </a>
  <span class="tooltiptext">abstractos</span>
  </div>
  <div class="tooltip">
  <a href="/vivos/"> 
  <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><path fill="currentColor" d="M5 11h3v-1h1V4h1V3H9V1H8v7H6v1h1v1H6V9H5Zm-5 1h3v-1h1V5h1V4H4V2H3v7H1v1h1v1H1v-1H0Zm5-5h1V5H5Zm5-1h1V4h-1Zm0 0"/></svg>  
</a>
<span class="tooltiptext">vivos</span>
</div>
  <div class="tooltip">
  <a href="/calles/"> 
    <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M0 12h11v-1H9v-1h1V9H8V8h1V2H8v3H3V2H2v6h1v1H1v1h1v1H0Zm3-1v-1h5v1Zm1-2V8h3v1ZM3 7V6h1v1Zm4 0V6h1v1ZM5 3h1V2h2V1H3v1h2Zm0 0"/></svg>
  </a>
  <span class="tooltiptext">calles</span>
  </div>
  <div class="tooltip">
  <a href="/bio/"> 
   <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><path fill="currentColor" d="M9 5h1V1H9v1H8v1h1Zm-8 6h1v-1H1Zm-1-1h1V5H0Zm2 2h7v-1H2Zm2-2h3V9H6V8H5v1H4ZM3 7h1V5H3ZM1 5h1V3h1V2H2V1H1Zm8 6h1v-1H9ZM7 7h1V5H7ZM3 4h5V3H3Zm7 6h1V5h-1Zm0 0"/></svg>
  </a>
  <span class="tooltiptext">bio</span>
</div>
</body>


<style>
body {
  margin: 0;
  height: 100vh;                 
  display: flex;                
  justify-content: center;   
  align-items: center;  
  background-image: url(/public/2025-09-01-11-29-35.gif);

}

h1 {
  display: none;
}

a {
  color: rgb(218, 218, 218);
  font-size: 3rem;  
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  transition: 0.3s ease; 
  padding:1rem;
}

.flota {
  display: inline-block;         
  text-decoration: none;
  animation: float 2s ease-in-out infinite; 
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-1rem);
  }
}

a:hover {
  color: rgb(84, 46, 121); 
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden; 
  width: 4.5rem;
  background-color: white;
  color: #fffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; 
  opacity: 25%;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
</Layout>

